* {
  font-family: "FiraCode Nerd Font";
  font-size: 8pt;
  font-weight: 900;
  margin: 0;
  padding: 0;
  transition-property: background-color;
  transition-duration: 0.5s;
  border: none;
  border-radius: 3px;
  min-height: 0;
  margin: 0.1em 0.1em 0.1em 0.2em;
}

/* The whole bar */
#waybar {
  /*background: @bg;*/
  background-color: transparent;
  /*color: @light;*/
  color: #f5c2e7;
  transition-property: background-color;
  transition-duration: 0.5s;
  /*border-top: 8px transparent;*/
  border-radius: 0px;
  margin: 0px 0px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 0px;
  color: #cba6f7;
  background-color: transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
}

#workspaces button.focused {
  background-color: transparent;
}

#workspace button.hover {
  background-color: transparent;
}

#workspaces button.active {
  color: #f5e0dc;
}

#workspaces button.urgent {
  background-color: #f38ba8;
  border-radius: 4px;
  color: #1e1e2e;
}

#window,
#clock,
#pulseaudio,
#tray,
#window,
#custom-media,
#custom-drive-detect,
#workspaces {
  padding: 0px 8px;
  color: #f5c2e7;
  border-radius: 8px;
  background-color: #1e1e2e;
}

#custom-drive-detect.hidden {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}

#custom-drive-detect.drive-detected {
  background-color: #fab387;
  color: #1e1e2e;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

label:focus {
  background-color: #1e1e2e;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #f38ba8;
}

#custom-media {
  min-width: 100px;
}